@using MedicalCenter.Web.ViewModels.MedicalExamination
@model GetMedicalExaminationViewModel
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Изтриване на медицински преглед";
}

<h1>Изтриване на запис</h1>

<h3>Сигурни ли сте, че искате да изтриете този медицински преглед?</h3>
<div>
    <h4>Медицински преглед</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recommendation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recommendation)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Изтриване" class="btn btn-danger" /> |
        @if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") != "Administrator")
        {
            <a asp-action="MyExaminations">Обратно към моите медицински прегледи</a>
        }
        else
        {
            <a asp-action="Index">Обратно към всички медицински прегледи</a>
        }
    </form>
</div>
