@using MedicalCenter.Web.Constants
@using MedicalCenter.Web.Dtos.User
@model GetUserDto
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Детайли за потребител";
    int loggedInUserID = HttpContextAccessor.HttpContext!.Session.GetInt32("UserID")!.Value;
    bool isAdministrator = HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Administrator";
}

<h1>Детайли</h1>

<div>
    <h4>Потребител</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.Description)
        </dd>
    </dl>
</div>
<div>
    @switch (Model.Role.ID)
    {
        case RoleConstants.AdminRoleId:
            <text><a asp-action="Edit" asp-route-id="@Model?.ID">Редактиране на потребител</a></text>
            @if (!(Model?.Role.ID == loggedInUserID && isAdministrator))
            {
                <text>| <a asp-action="Delete" asp-route-id="@Model?.ID">Изтриване на потребител</a></text>
            }
            break;
        case RoleConstants.DoctorRoleId:
            <text>
                <a asp-action="EditDoctor" asp-route-id="@Model?.ID">Редактиране на доктор</a>
                | <a asp-action="Delete" asp-route-id="@Model?.ID">Изтриване на доктор</a>
            </text>
            break;
        case RoleConstants.PatientRoleId:
            <text>
                <a asp-action="EditPatient" asp-route-id="@Model?.ID">Редактиране на пациент</a>
                | <a asp-action="Delete" asp-route-id="@Model?.ID">Изтриване на пациент</a>
            </text>
            break;
    }
    | <a asp-action="Index">Обратно към всички потребители</a>
</div>
